/* quicksand-300 - latin */
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../fonts/quicksand-v22-latin-300.woff2") format("woff2"), url("../fonts/quicksand-v22-latin-300.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* quicksand-regular - latin */
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/quicksand-v22-latin-regular.woff2") format("woff2"), url("../fonts/quicksand-v22-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* quicksand-500 - latin */
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/quicksand-v22-latin-500.woff2") format("woff2"), url("../fonts/quicksand-v22-latin-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* quicksand-600 - latin */
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/quicksand-v22-latin-600.woff2") format("woff2"), url("../fonts/quicksand-v22-latin-600.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* quicksand-700 - latin */
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/quicksand-v22-latin-700.woff2") format("woff2"), url("../fonts/quicksand-v22-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Quicksand";
  font-style: normal;
  line-height: 1.2;
  font-weight: normal;
  margin: 0 auto;
}

.home-demo .item {
  background: #ff3f4d;
}

.home-demo h2 {
  color: #fff;
  text-align: center;
  padding: 5rem 0;
  margin: 0;
  font-style: italic;
  font-weight: 300;
}

.header {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../img/Wave.png);
  background-repeat: no-repeat;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
  left: 0;
}

.header__cover {
  width: 100%;
}

.header__box {
  max-width: 1644px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  max-width: 179px;
  width: 100%;
  background-color: #0f7bff;
  border-radius: 0px 0px 21.5px 21.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-weight: 700;
  font-size: 3.6rem;
  color: #ffffff;
  padding-top: 1.30208%;
  padding-bottom: 1.66667%;
}

.header__logo:focus {
  opacity: 0.9;
}

.header__logo:hover {
  opacity: 0.9;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 355px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 52px;
}

.header__item {
  font-weight: 500;
}

.header__link {
  color: grey;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  -webkit-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
}

.header__link:hover {
  color: #0f7cff;
  text-decoration: underline;
}

.header__link:focus {
  color: #0f7bff;
  text-decoration: underline;
}

.header__link_active {
  color: #0f7cff;
}

.header__elements {
  max-width: 655px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 4.58333% auto 5.625% auto;
}

.header__button {
  width: 166px;
  height: 50px;
  font-weight: 700;
  font-size: 1.6rem;
  color: white;
  background-color: #0f7bff;
  border-radius: 25px;
  outline: none;
  padding: 0;
  -webkit-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
  border: 2px solid #0f7bff;
  font-family: inherit;
}

.header__button:hover {
  background-color: white;
  color: #0063dd;
}

.header__button:focus {
  background-color: white;
  color: #0063dd;
  opacity: 0.8;
}

.header__button_top {
  background-color: #0063dd;
  border: 2px solid #0063dd;
}

.header__buttons {
  max-width: 362px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__title {
  font-weight: 700;
  font-size: 3.6rem;
  color: #000000;
  text-align: center;
  margin-bottom: 4.58015%;
}

.header__subtitle {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.7rem;
  text-align: center;
  margin-bottom: 5.03817%;
}

.header__devices {
  width: 42.25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.header__phones {
  width: 100%;
}

.heder__burger {
  width: 40px;
  height: 28px;
  position: relative;
  display: none;
}

.burger__line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #0063dd;
  position: absolute;
  left: 0;
}

.burger__line_first {
  top: 0;
}

.burger__line_second {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.burger__line_third {
  bottom: 0;
}

@media screen and (max-width: 1727px) {
  .header {
    padding: 0 15px;
  }
}

@media screen and (max-width: 991px) {
  .header__list {
    padding-right: 15px;
    width: 335px;
    padding-left: 15px;
  }
  .header__button {
    justify-self: flex-end;
  }
}

@media screen and (max-width: 767px) {
  .header {
    background-image: none;
  }
  .heder__burger {
    display: block;
  }
  .header__nav {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #0063dd;
    z-index: 9;
    padding: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  .header__nav_active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: 0.2s all linear;
    transition: 0.2s all linear;
  }
  .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .header__link {
    font-size: 4.2rem;
    color: white;
  }
  .header__item {
    width: 100%;
    margin-bottom: 30px;
  }
  .header__logo {
    max-width: 150px;
  }
  .header__nav-close {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 15;
    cursor: pointer;
  }
  .header__nav-close:hover {
    opacity: 0.5;
  }
  .header__nav-close:focus {
    opacity: 0.5;
  }
  .header__nav-close-line {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
  }
  .header__nav-close-line:first-child {
    -webkit-transform: translateY(-50%) rotate(45deg);
            transform: translateY(-50%) rotate(45deg);
  }
  .header__nav-close-line:last-child {
    -webkit-transform: translateY(-50%) rotate(-45deg);
            transform: translateY(-50%) rotate(-45deg);
  }
  .header__button_burger {
    border: 2px solid #0f7bff;
    color: #0f7bff;
    background-color: white;
    font-size: 16px;
  }
  .header__button_burger:hover {
    opacity: 0.5;
  }
  .header__button_burger:focus {
    opacity: 0.5;
  }
}

@media screen and (max-width: 628px) {
  .header__logo-title {
    padding-top: 10%;
    padding-bottom: 10%;
  }
  .header__button {
    width: 140px;
    height: 40px;
  }
  .header__devices {
    width: 245px;
  }
}

@media screen and (max-width: 420px) {
  .heder__burger {
    margin-left: 20px;
  }
}

@media screen and (max-width: 372px) {
  .header__button {
    width: 120px;
    height: 35px;
  }
}

.scroll {
  width: 100%;
  height: 0px;
  background-color: aqua;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scroll__button {
  position: absolute;
  width: 100px;
  padding: 0;
  background-color: Transparent;
  border: 0;
  height: 100px;
  -webkit-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
}

.scroll__button:hover {
  opacity: 0.5;
}

.scroll__button:focus {
  opacity: 0.5;
}

.scroll__img {
  width: 100%;
  z-index: 5;
}

@media screen and (max-width: 372px) {
  .scroll__button {
    width: 50px;
    height: 50px;
  }
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f5fcfd;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 362px;
  width: 100%;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 4px 16px rgba(0, 66, 148, 0.08);
          box-shadow: 0px 4px 16px rgba(0, 66, 148, 0.08);
  border-radius: 5px;
  margin-bottom: 9.375%;
  margin-top: 8.59375%;
  margin-right: 1.5625%;
}

.features__box:nth-child(2) {
  margin-top: 11.19792%;
  margin-bottom: 6.77083%;
}

.features__box:last-child {
  margin-right: 0;
}

.features__icon {
  width: 70px;
  height: 70px;
  margin-top: 11.04972%;
  margin-bottom: 6.90608%;
}

.features__title {
  font-weight: 500;
  font-size: 1.8rem;
  color: black;
  margin-bottom: 6.90608%;
}

.features__subtitle {
  text-align: center;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2rem;
  color: #000000;
  margin-bottom: 12.98343%;
  padding-left: 14px;
  padding-right: 14px;
}

@media screen and (max-width: 1158px) {
  .features {
    padding-left: 15px;
    padding-right: 15px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .features__box {
    margin: 60px 30px 0 0;
  }
  .features__box:nth-child(2) {
    margin: 60px 0 0 0;
  }
  .features__box:last-child {
    margin-top: 30px;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 800px) {
  .features__box {
    margin: 60px 30px 0 30px;
  }
  .features__box:nth-child(2) {
    margin: 30px 30px 0 30px;
  }
  .features__box:last-child {
    margin: 30px 30px 40px 30px;
  }
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1351px;
  width: 100%;
  margin: 0 auto;
  margin-top: -3.5%;
  position: relative;
  z-index: 5;
}

.about__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5.0037%;
}

.about__box:last-child {
  margin-bottom: 0;
}

.about__image-box_top {
  width: 100%;
  max-width: 660.6px;
}

.about__image-stack::after {
  content: " ";
  display: table;
  clear: both;
}

.about__image-stack-item_bottom {
  float: left;
  width: 92%;
}

.about__img {
  width: 100%;
}

.about__image-stack-item_top {
  float: right;
  width: 84.4%;
  margin-left: -100%;
  padding-top: 18.5%;
  position: relative;
  z-index: 1;
}

.about__text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__text-box_top {
  margin-left: 9.47446%;
  max-width: 476px;
  width: 100%;
  margin-top: 16.06218%;
}

.about__title {
  font-weight: 500;
  font-size: 3.2rem;
  color: black;
  margin-bottom: 5.29101%;
}

.about__subtitle {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 150%;
  color: black;
  margin-bottom: 6.17284%;
}

.about__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.6rem;
  color: #0063dd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
}

.about__link span {
  width: 67px;
  color: #0063dd;
  font-weight: 500;
}

.about__link:hover {
  opacity: 0.5;
}

.about__link:focus {
  opacity: 0.5;
  text-decoration: underline;
}

.arrow__box {
  margin-left: 15px;
  width: 67px;
}

.arrow__img {
  width: 100%;
}

.about__text-box_bottom {
  width: 100%;
  max-width: 543px;
  margin-right: 7.13546%;
  margin-top: 10.36269%;
  margin-left: 7.59437%;
}

.about__image-box_bottom {
  max-width: 609px;
  width: 100%;
}

.about__image-stack-below_bottom {
  float: right;
  width: 100%;
}

.about__image-stack-below_top {
  float: left;
  width: 59.4%;
  margin-right: -100%;
  margin-left: 7.65%;
  padding-top: 6.7%;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 900px) {
  .about {
    padding-left: 15px;
    padding-right: 15px;
  }
  .about__box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about__text-box_bottom {
    margin-left: 0;
    max-width: 609px;
    width: 100%;
    margin-top: 6%;
  }
  .about__text-box_top {
    margin-left: 0;
    width: 100%;
    max-width: 660px;
    margin-top: 6%;
  }
  .about__text-box_top .about__title {
    margin-bottom: 2%;
  }
  .about__text-box_top .about__subtitle {
    margin-bottom: 2%;
  }
}

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f5fcfd;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -3%;
  margin-left: auto;
  margin-right: auto;
}

.work__title {
  font-weight: 400;
  font-size: 3.2rem;
  color: black;
  margin-top: 6.19792%;
  margin-bottom: 1.30208%;
}

.work__subtitele {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 150%;
  text-align: center;
  color: black;
  margin-bottom: 2.34375%;
  max-width: 722px;
  width: 100%;
}

.work__boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1113px;
  width: 100%;
  margin-bottom: 7.13542%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.work__box {
  width: 333px;
  height: 221px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 5.12129%;
}

.work__box:last-child {
  margin-right: 0;
}

.work__icon {
  width: 100px;
  height: 100px;
  z-index: 2;
}

.work__box-title {
  font-weight: 500;
  font-size: 1.8rem;
  color: black;
  margin-top: 9.00901%;
  margin-bottom: 6.00601%;
}

.work__box-subtitle {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 150%;
  text-align: center;
}

.work__line {
  width: 61%;
  height: 0px;
  border-top: 2px dashed #0f7bff;
  position: absolute;
  top: 50px;
  z-index: 0;
}

@media screen and (max-width: 1129px) {
  .work {
    padding: 0 15px;
  }
}

@media screen and (max-width: 893px) {
  .work__boxes {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .work__line {
    display: none;
  }
  .work__box {
    margin: 30px 15px 30px 15px;
  }
  .work__box:nth-child(3) {
    margin: 30px 15px 30px 15px;
  }
  .work__box:last-child {
    margin: 40px 15px 0 15px;
  }
}

@media screen and (max-width: 635px) {
  .work__box {
    margin: 0 15px 5px 15px;
    height: 200px;
  }
  .work__box:nth-child(3) {
    margin: 10px 15px 10px 15px;
  }
  .work__box:last-child {
    margin: 10px 15px 0 15px;
  }
}

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.price__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1146px;
  width: 100%;
  margin: 130px auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.price__plan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-right: 5.2356%;
}

.price__title {
  font-weight: 500;
  font-size: 3.2rem;
  color: black;
  margin: 45.73864% auto 8.52273% 0;
}

.price__subtitle {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 150%;
  color: black;
  margin-bottom: 11.36364%;
}

.price__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.price__button {
  font-size: 1.6rem;
  line-height: 20px;
  font-weight: 700;
  color: white;
  background-color: #0f7bff;
  outline: 0;
  border: 3px solid #0f7bff;
  padding: 0;
  border-radius: 25px;
  width: 166px;
  height: 50px;
  margin-bottom: 13.06818%;
  font-family: inherit;
  -webkit-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
}

.price__button:hover {
  color: #0f7bff;
  background-color: white;
}

.price__button:focus {
  color: #0f7bff;
  background-color: white;
  opacity: 0.8;
}

.price__button_left {
  border-radius: 25px 0px 0px 25px;
}

.price__button_right {
  border-radius: 0 25px 25px 0;
  border-left: 0;
}

.price__button_active {
  background-color: #ffffff;
  color: #0063dd;
}

.price__button_active:hover {
  color: white;
  background-color: #0f7bff;
}

.price__button_active:focus {
  color: white;
  background-color: #0f7bff;
  opacity: 0.8;
}

.price__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 36, 80, 0.08);
          box-shadow: 0px 4px 20px rgba(0, 36, 80, 0.08);
  border-radius: 5px;
  max-width: 362px;
  width: 100%;
  margin-right: 2.6178%;
}

.price__box:last-child {
  margin-right: 0;
}

.price__icon {
  margin: 10.77348% auto 5.52486% auto;
}

.price__box-title {
  font-size: 1.8rem;
  color: black;
  font-weight: 700;
  margin-bottom: 6.90608%;
}

.price__line {
  height: 0;
  width: 83.70166%;
  border-top: 2px solid #e9f3f8;
}

.price__list {
  text-align: center;
  margin-top: 6.35359%;
  margin-bottom: 7.18232%;
}

.price__list-item {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 184%;
  color: black;
}

.price__price {
  font-weight: 500;
  font-size: 1.8rem;
  color: #0f7bff;
  margin-bottom: 7.10227%;
}

.price__price span {
  font-size: 3.2rem;
}

@media screen and (max-width: 1268px) {
  .price {
    padding: 0 15px;
  }
}

@media screen and (max-width: 1012px) {
  .price__block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 50px;
    margin-top: 50px;
  }
  .price__title {
    margin: 0 0 10px 0;
  }
  .price__subtitle {
    margin-bottom: 30px;
  }
  .price__button {
    margin-bottom: 30px;
  }
  .price__plan {
    margin: 0;
    width: 76%;
  }
}

@media screen and (max-width: 790px) {
  .price__box {
    margin: 15px;
  }
  .price__box:last-child {
    margin: 15px;
  }
  .price__plan {
    max-width: 362px;
    width: 100%;
  }
  .price__title {
    text-align: center;
  }
  .price__subtitle {
    text-align: center;
  }
}

.testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: #f5fcfd;
  margin-bottom: 6.77083%;
}

.testimonials__left-box {
  width: 40.57292%;
  height: 31.30208%;
  margin-right: 98px;
}

.testimonials__image {
  width: 100%;
}

.testimonials__right-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 54.32292%;
}

.testimonials__title {
  font-size: 3.2rem;
  font-weight: 700;
  margin-top: 9.86038%;
  margin-bottom: 3.4904%;
}

.testimonials__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.owl-item {
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 70, 156, 0.08);
          box-shadow: 0px 4px 20px rgba(0, 70, 156, 0.08);
  border-radius: 5px;
  position: relative;
  width: 362px !important;
}

.owl-dots {
  margin-top: 3.57834%;
}

.owl-dot {
  width: 12px;
  height: 12px;
  background-color: #f5fcfd !important;
  border: 1.6px solid #0063dd !important;
  border-radius: 32px;
  margin-right: 8px;
}

.owl-dot:focus {
  opacity: 0.7;
}

.owl-dot:hover {
  opacity: 0.7;
}

.owl-dot.active {
  background-color: #0063dd !important;
  width: 38.4px;
}

.testimonials__block-title {
  font-weight: 500;
  font-size: 1.8rem;
  margin-top: 11.04972%;
  margin-bottom: 2.76243%;
  margin-left: 8.28729%;
  color: black;
}

.testimonials__block-subtitle {
  color: #999999;
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 6.90608%;
  margin-left: 8.28729%;
}

.testimonials__block-text {
  color: #999999;
  font-size: 1.6rem;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 9.39227%;
  margin-left: 8.28729%;
}

.testimonials__twit-icon {
  position: absolute;
  top: 50px;
  right: 39.81px;
  color: #0f7bff;
  font-size: 2.2rem;
}

@media screen and (max-width: 1451px) {
  .testimonials__title {
    margin-top: 15px;
  }
  .testimonials__container {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 1180px) {
  .owl-item {
    width: 280px !important;
  }
}

@media screen and (max-width: 1042px) {
  .owl-item {
    width: 260px !important;
  }
}

@media screen and (max-width: 1032px) {
  .testimonials__left-box {
    display: none;
  }
  .testimonials__right-box {
    width: 100%;
  }
  .owl-dots {
    margin-left: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .testimonials__title {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media screen and (max-width: 340px) {
  .testimonials__title {
    margin-left: 15px;
  }
  .owl-item {
    width: 300px !important;
  }
  .owl-item .testimonials__right-box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5.52083%;
}

.news__title {
  font-weight: 700;
  font-size: 3.2rem;
  margin-bottom: 25px;
}

.news__subtitle {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 150%;
  margin-bottom: 40px;
  text-align: center;
  width: 722px;
}

.news__posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news__left-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 558px;
  width: 100%;
  margin-right: 30px;
}

.news__image-main {
  margin-bottom: 30px;
  max-width: 558px;
  width: 100%;
}

.news__main-img {
  width: 100%;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 70, 156, 0.08);
          box-shadow: 0px 4px 20px rgba(0, 70, 156, 0.08);
  border-radius: 5px;
}

.news__left-title {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 150%;
  color: #0063dd;
  margin-bottom: 25px;
}

.news__left-subtitle {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 150%;
  color: #000000;
  margin-bottom: 35px;
}

.news__link {
  font-weight: 500;
  font-size: 1.6rem;
  color: #0063dd;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news__link:focus {
  opacity: 0.5;
  text-decoration: underline;
}

.news__link:hover {
  opacity: 0.5;
}

.news__right-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.news__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 33px;
}

.news__block-image {
  max-width: 166px;
  width: 100%;
}

.news__block-image img {
  width: 100%;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 70, 156, 0.08);
          box-shadow: 0px 4px 20px rgba(0, 70, 156, 0.08);
  border-radius: 5px;
}

.news__text-box {
  width: 100%;
  margin-left: 30px;
}

.news__text-title {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 150%;
  color: #000000;
  margin-bottom: 25px;
}

.news__text-subtitle {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 150%;
  color: #000000;
}

@media screen and (max-width: 1418px) {
  .news {
    padding: 0 15px;
  }
}

@media screen and (max-width: 1243px) {
  .news__posts {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .news__left-box {
    margin-bottom: 30px;
    margin-right: 0;
  }
  .news__subtitle {
    max-width: 558px;
    width: 100%;
  }
  .news__right-box {
    max-width: 558px;
    width: 100%;
  }
  .news__posts {
    max-width: 558px;
    width: 100%;
  }
  .news__right-box {
    max-width: 558px;
    width: 100%;
  }
  .news__block {
    width: 100%;
    max-width: 558px;
  }
  .news__text-box {
    max-width: 362px;
  }
  .news__left-subtitle {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 621px) {
  .news__image-main {
    width: 100%;
  }
}

@media screen and (max-width: 566px) {
  .news__block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .news__text-box {
    margin: 0;
  }
  .news__text-title {
    margin-bottom: 5px;
    text-align: center;
    margin-top: 10px;
  }
  .news__text-subtitle {
    margin: 0;
    text-align: center;
  }
}

.trial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f5fcfd;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.trial__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 6.40625%;
  margin-bottom: 5.88542%;
  margin-right: 8.02083%;
}

.trial__button {
  font-size: 1.6rem;
  font-weight: 700;
  border-radius: 25px;
  width: 264px;
  height: 50px;
  background-color: #0f7bff;
  outline: none;
  border: 1px solid #0f7bff;
  color: white;
  margin-top: 8.125%;
  margin-bottom: 6.71875%;
  font-family: inherit;
  -webkit-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
}

.trial__button img {
  margin-left: 13px;
}

.trial__button:hover {
  opacity: 0.5;
}

.trial__button:focus {
  opacity: 0.5;
}

.trial__title {
  font-size: 3.2rem;
  font-weight: 700;
  color: black;
  margin-bottom: 7.46269%;
}

.trial__subtitle {
  font-weight: 300;
  font-size: 1.6rem;
  color: black;
}

@media screen and (min-width: 1920px) {
  .trial__box {
    margin-top: 133px;
    margin-bottom: 113px;
  }
  .trial__button {
    margin-top: 156px;
    margin-bottom: 129px;
  }
}

@media screen and (max-width: 768px) {
  .trial {
    padding: 0 15px;
  }
}

@media screen and (max-width: 600px) {
  .trial__button {
    width: 200px;
    height: 40px;
  }
  .trial__button img {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .trial__button {
    width: 120px;
    height: 30px;
  }
  .trial__title {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 379px) {
  .trial {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .trial__button {
    margin-top: 0;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0f7bff;
}

.footer__title {
  font-size: 3.6rem;
  color: white;
  font-weight: 700;
  margin-top: 6.14583%;
  margin-bottom: 1.5625%;
}

.footer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 6.19792%;
  max-width: 558px;
  width: 100%;
}

.footer__input {
  background-color: #0063dd;
  outline: none;
  border-radius: 25px 0 0 25px;
  border: 0;
  padding-left: 28px;
  width: 70.2509%;
  color: white;
  font-size: 1.6rem;
  font-weight: 400;
}

.footer__input:focus {
  opacity: 0.5;
}

.footer__input:hover {
  opacity: 0.5;
}

.footer__input::-webkit-input-placeholder {
  color: white;
  font-size: 1.6rem;
  font-weight: 400;
  opacity: 0.7;
}

.footer__button {
  color: #0063dd;
  border-radius: 0px 25px 25px 0px;
  outline: none;
  background-color: white;
  border: 1px solid white;
  font-size: 1.6rem;
  font-weight: 700;
  width: 29.7491%;
  padding-top: 2.3%;
  padding-bottom: 2.3%;
  font-family: inherit;
  -webkit-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
}

.footer__button:hover {
  color: white;
  background-color: #0063dd;
}

.footer__button:focus {
  color: white;
  background-color: #0063dd;
  opacity: 0.8;
}

.footer__bottom {
  background-color: #0063dd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.footer__box-bottom {
  max-width: 1146px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2.60417%;
  margin-bottom: 2.60417%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15px;
  margin-left: 15px;
}

.footer__copyright {
  font-weight: 300;
  font-size: 1.6rem;
  color: white;
  margin-right: 21.64049%;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 345px;
  margin-right: 4.375%;
}

.footer__item {
  font-weight: 300;
  font-size: 1.6rem;
  margin-right: 7.24638%;
}

.footer__link {
  text-decoration: none;
  color: white;
  -webkit-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
}

.footer__link:hover {
  opacity: 0.5;
}

.footer__link:focus {
  opacity: 0.5;
}

.footer__list-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__item-social {
  margin-right: 27px;
}

.footer__item-social:nth-child(2) {
  margin-right: 20px;
}

.footer__item-social:last-child {
  margin-right: 0;
}

.footer__item-social a {
  color: white;
  font-size: 2rem;
}

.footer__item-social a:focus {
  opacity: 0.5;
}

.footer__item-social a:hover {
  opacity: 0.5;
}

.footer__on-top {
  background-image: url(../img/ScrollUp.png);
  background-size: contain;
  position: center;
  position: fixed;
  right: 158px;
  bottom: 27px;
  background-repeat: no-repeat;
  width: 70px;
  height: 70px;
  display: block;
  border: 2px solid grey;
  border-radius: 50%;
  z-index: 100;
  -webkit-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
}

.footer__on-top:hover {
  opacity: 0.5;
}

.footer__on-top:focus {
  opacity: 0.5;
}

@media screen and (min-width: 1920px) {
  .footer__title {
    margin-top: 118px;
  }
  .footer__block {
    margin-bottom: 119px;
  }
}

@media screen and (max-width: 1610px) {
  .footer__on-top {
    right: 0;
    bottom: 50%;
  }
}

@media screen and (max-width: 1099px) {
  .footer__box-bottom {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__list {
    width: 100%;
    margin: 0 0 15px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .footer__copyright {
    width: 100%;
    margin: 0 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .footer__list-social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0 0 15px 0;
  }
}

@media screen and (max-width: 597px) {
  .footer__block {
    max-width: 370px;
  }
}

@media screen and (max-width: 426px) {
  .footer__block {
    max-width: 290px;
  }
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 800px) {
  html {
    font-size: 45%;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 40%;
  }
}

@media screen and (max-width: 400px) {
  html {
    font-size: 35%;
  }
}
/*# sourceMappingURL=style.css.map */