.footer {
  display: flex;
  flex-direction: column;
}
.footer__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0f7bff;
}
.footer__title {
  font-size: 3.6rem;
  color: white;
  font-weight: 700;
  margin-top: pxInProc(118, 1920);
  margin-bottom: pxInProc(30, 1920);
}
.footer__block {
  display: flex;
  margin-bottom: pxInProc(119, 1920);
  max-width: 558px;
  width: 100%;
}
.footer__input {
  background-color: #0063dd;
  outline: none;
  border-radius: 25px 0 0 25px;
  border: 0;
  // height: 50px;
  padding-left: 28px;
  width: pxInProc(392, 558);
  color: white;
  font-size: 1.6rem;
  font-weight: 400;
}

.footer__input::-webkit-input-placeholder {
  color: white;
  font-size: 1.6rem;
  font-weight: 400;
  opacity: 0.7;
}
.footer__button {
  color: #0063dd;
  border-radius: 0px 25px 25px 0px;
  outline: none;
  background-color: white;
  border: 1px solid white;
  font-size: 1.6rem;
  font-weight: 700;
  width: pxInProc(166, 558);
  padding-top: 2.3%;
  padding-bottom: 2.3%;
  @include transition-prop;
  &:hover {
    color: white;
    background-color: #0063dd;
  }
}
.footer__bottom {
  background-color: #0063dd;
  display: flex;
  justify-content: center;
  position: relative;
}
.footer__copyright {
  font-weight: 300;
  font-size: 1.6rem;
  color: white;
  margin-right: pxInProc(248, 1920);
  margin-top: pxInProc(50, 1920);
  margin-bottom: pxInProc(50, 1920);
}
.footer__list {
  display: flex;
  width: 345px;
  margin-bottom: pxInProc(50, 1920);
  margin-top: pxInProc(50, 1920);
  margin-right: pxInProc(84, 1920);
}
.footer__item {
  font-weight: 300;
  font-size: 1.6rem;
  margin-right: pxInProc(25, 345);
}

.footer__link {
  text-decoration: none;
  color: white;
  @include transition-prop;
  &:hover {
    opacity: 0.5;
  }
}
.footer__list-social {
}
.footer__item-social {
}
.footer__social-link-fb {
  margin-right: 27px;
  @include transition-prop;
  &:hover {
    opacity: 0.5;
  }
}

.footer__social-link-twit {
  width: 100%;
  margin-right: 20px;
  @include transition-prop;
  &:hover {
    opacity: 0.5;
  }
}

.footer__social-link-you {
  width: 100%;
  @include transition-prop;
  &:hover {
    opacity: 0.5;
  }
}

.footer__on-top {
  background-image: url(../../img/ScrollUp.png);
  background-size: contain;
  position: center;
  position: fixed;
  right: 158px;
  bottom: 27px;
  background-repeat: no-repeat;
  width: 70px;
  height: 70px;
  display: block;
  @include transition-prop;
  &:hover {
    opacity: 0.5;
  }
}

.footer__list-social {
  display: flex;
  margin-top: pxInProc(50, 1920);
  margin-bottom: pxInProc(50, 1920);
}

@media screen and (max-width: 597px) {
  .footer__block {
    max-width: 370px;
  }
}

@media screen and (max-width: 426px) {
  .footer__block {
    max-width: 290px;
  }
}

@media screen and (max-width: 1610px) {
  .footer__on-top {
    right: 0;
    bottom: 50%;
  }
}

@media screen and (max-width: 982px) {
  .footer__bottom {
    padding-right: 15px;
    padding-left: 15px;
  }
  .footer__social-icon {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 713px) {
  .footer__bottom {
    flex-wrap: wrap;
  }
  .footer__copyright {
    order: 1;
    margin-right: 0;
  }
  .footer__list {
    width: 100%;
  }
  .footer__list-social {
    width: 100%;
  }
  .footer__list-social {
    justify-content: center;
  }
  .footer__list {
    justify-content: center;
    margin-right: 0;
  }
}

@media screen and (max-width: 455px) {
  .footer__social-icon {
    width: 15px;
    height: 15px;
  }
}
