.footer {
  display: flex;
  flex-direction: column;
}
.footer__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0f7bff;
}
.footer__title {
  font-size: 3.6rem;
  color: white;
  font-weight: 700;
  margin-top: pxInProc(118, 1920);
  margin-bottom: pxInProc(30, 1920);
}
.footer__block {
  display: flex;
  margin-bottom: pxInProc(119, 1920);
  max-width: 558px;
  width: 100%;
}
.footer__input {
  background-color: #0063dd;
  outline: none;
  border-radius: 25px 0 0 25px;
  border: 0;
  padding-left: 28px;
  width: pxInProc(392, 558);
  color: white;
  font-size: 1.6rem;
  font-weight: 400;
  &:focus {
    opacity: 0.5;
  }
  &:hover {
    opacity: 0.5;
  }
}

.footer__input::-webkit-input-placeholder {
  color: white;
  font-size: 1.6rem;
  font-weight: 400;
  opacity: 0.7;
}
.footer__button {
  color: #0063dd;
  border-radius: 0px 25px 25px 0px;
  outline: none;
  background-color: white;
  border: 1px solid white;
  font-size: 1.6rem;
  font-weight: 700;
  width: pxInProc(166, 558);
  padding-top: 2.3%;
  padding-bottom: 2.3%;
  font-family: inherit;
  @include transition-prop;
  &:hover {
    color: white;
    background-color: #0063dd;
  }
  &:focus {
    color: white;
    background-color: #0063dd;
    opacity: 0.8;
  }
}
.footer__bottom {
  background-color: #0063dd;
  display: flex;
  justify-content: center;
  position: relative;
}

.footer__box-bottom {
  max-width: 1146px;
  width: 100%;
  display: flex;
  margin-top: pxInProc(50, 1920);
  margin-bottom: pxInProc(50, 1920);
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  margin-left: 15px;
}
.footer__copyright {
  font-weight: 300;
  font-size: 1.6rem;
  color: white;
  margin-right: pxInProc(248, 1146);
}
.footer__list {
  display: flex;
  width: 345px;
  margin-right: pxInProc(84, 1920);
}
.footer__item {
  font-weight: 300;
  font-size: 1.6rem;
  margin-right: pxInProc(25, 345);
}

.footer__link {
  text-decoration: none;
  color: white;
  @include transition-prop;
  &:hover {
    opacity: 0.5;
  }
  &:focus {
    opacity: 0.5;
  }
}

.footer__list-social {
  display: flex;
  align-items: center;
}

.footer__item-social {
  margin-right: 27px;
  &:nth-child(2) {
    margin-right: 20px;
  }
  &:last-child {
    margin-right: 0;
  }
  a {
    color: white;
    font-size: 2rem;
    &:focus {
      opacity: 0.5;
    }
    &:hover {
      opacity: 0.5;
    }
  }
}

.footer__on-top {
  background-image: url(../../img/ScrollUp.png);
  background-size: contain;
  position: center;
  position: fixed;
  right: 158px;
  bottom: 27px;
  background-repeat: no-repeat;
  width: 70px;
  height: 70px;
  display: block;
  @include transition-prop;
  &:hover {
    opacity: 0.5;
  }
  &:focus {
    opacity: 0.5;
  }
}

@media screen and (min-width: 1920px) {
  .footer__title {
    margin-top: 118px;
  }
  .footer__block {
    margin-bottom: 119px;
  }
}

@media screen and (max-width: 597px) {
  .footer__block {
    max-width: 370px;
  }
}

@media screen and (max-width: 426px) {
  .footer__block {
    max-width: 290px;
  }
}

@media screen and (max-width: 1610px) {
  .footer__on-top {
    right: 0;
    bottom: 50%;
  }
}

@media screen and (max-width: 1099px) {
  .footer__box-bottom {
    flex-wrap: wrap;
  }
  .footer__list {
    width: 100%;
    margin: 0 0 15px 0;
    display: flex;
    justify-content: center;
    order: 1;
  }
  .footer__copyright {
    width: 100%;
    margin: 0 0 0 0;
    display: flex;
    justify-content: center;
    order: 3;
  }
  .footer__list-social {
    justify-content: center;
    width: 100%;
    order: 2;
    margin: 0 0 15px 0;
  }
}
