.features {
  display: flex;
  background-color: #f5fcfd;
  justify-content: center;
}

.features__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 362px;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 4px 16px rgba(0, 66, 148, 0.08);
  border-radius: 5px;
  margin-bottom: pxInProc(180, 1920);
  margin-top: pxInProc(165, 1920);
  margin-right: pxInProc(30, 1920);
  &:nth-child(2) {
    margin-top: pxInProc(215, 1920);
    margin-bottom: pxInProc(130, 1920);
  }
  &:last-child {
    margin-right: 0;
  }
}
.features__icon {
  width: 70px;
  height: 70px;
  margin-top: pxInProc(40, 362);
  margin-bottom: pxInProc(25, 362);
}
.features__title {
  font-weight: 500;
  font-size: 1.8rem;
  color: black;
  margin-bottom: pxInProc(25, 362);
}
.features__subtitle {
  text-align: center;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2rem;
  color: #000000;
  margin-bottom: pxInProc(47, 362);
  padding-left: 14px;
  padding-right: 14px;
}

@media screen and (max-width: 1158px) {
  .features {
    padding-left: 15px;
    padding-right: 15px;
    flex-wrap: wrap;
  }
  .features__box {
    margin: 60px 30px 0 0;
    &:nth-child(2) {
      margin: 60px 0 0 0;
    }
    &:last-child {
      margin-top: 30px;
      margin-bottom: 50px;
    }
  }
}

@media screen and (max-width: 800px) {
  .features__box {
    margin: 60px 30px 0 30px;
    &:nth-child(2) {
      margin: 30px 30px 0 30px;
    }
    &:last-child {
      margin: 30px 30px 40px 30px;
    }
  }
}
