.header {
  outline: 3px solid red;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  // background-image: url(../../img/Vector_1.svg);
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: top center;
  // object-fit: contain;
}

.header__cover {
  width: 100%;
  outline: 1px solid orange;
}
.header__box {
  max-width: 1644px;
  width: 100%;
  margin: 0 auto;
  outline: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  max-width: 179px;
  width: 100%;
  background-color: #0f7bff;
  border-radius: 0px 0px 21.5px 21.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo-title {
  font-weight: 700;
  font-size: 36px;
  color: #ffffff;
  padding-top: pxInProc(25, 179);
  padding-bottom: pxInProc(32, 179);
}
.header__nav {
  display: flex;
  justify-content: space-between;
  max-width: 572px;
  width: 100%;
}
.header__list {
  display: flex;
  max-width: 355px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.header__item {
  font-size: 16px;
  font-weight: 500;
}
.header__link {
  color: grey;
  text-decoration: none;
  text-transform: uppercase;
}

.header__elements {
  max-width: 655px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: pxInProc(88, 1920) auto pxInProc(108, 1920) auto;
}
.header__button {
  max-width: 166px;
  width: 100%;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  color: white;
  background-color: #0063dd;
  border-radius: 25px;
  outline: none;
  border: none;
  padding: 0;
}

.header__buttons {
  max-width: 362px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.header__title {
  font-weight: 700;
  font-size: 36px;
  color: #000000;
  text-align: center;
  margin-bottom: pxInProc(30, 655);
}
.header__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  margin-bottom: pxInProc(33, 655);
}

.header__devices {
  width: 42.25%;
  display: flex;
  margin: 0 auto;
  outline: 1px solid green;
  position: relative;
  z-index: -1;
}

.header__phones {
  width: 100%;
}
