.price {
}
.price__plan {
}
.price__title {
  font-weight: 500;
  font-size: 32px;
  color: black;
}
.price__subtitle {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  color: black;
}
.price__buttons {
  
}
.price__button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color:#0063DD;
}
.price__box {
}
.price__box-title {
}
.price__line {
}
.price__list {
}
.price__list-item {
}
.price__price {
}