.price {
  display: flex;
  justify-content: center;
}

.price__block {
  display: flex;
  max-width: 1146px;
  width: 100%;
  margin: 130px auto;
  justify-content: center;
}

.price__plan {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: pxInProc(60, 1146);
}
.price__title {
  font-weight: 500;
  font-size: 32px;
  color: black;
  margin: pxInProc(161, 352) auto pxInProc(30, 352) 0;
}
.price__subtitle {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  color: black;
  margin-bottom: pxInProc(40, 352);
}
.price__buttons {
  display: flex;
}
.price__button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: white;
  background-color: #0f7bff;
  outline: 0;
  border: 3px solid #0f7bff;
  padding: 0;
  border-radius: 25px;
  width: 166px;
  height: 50px;
  margin-bottom: pxInProc(46, 352);
}

.price__button_left {
  border-radius: 25px 0px 0px 25px;
}

.price__button_right {
  border-radius: 0 25px 25px 0;
}

.price__button_active {
  background-color: #ffffff;
  color: #0063dd;
}

.price__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 4px 20px rgba(0, 36, 80, 0.08);
  border-radius: 5px;
  max-width: 362px;
  width: 100%;
  margin-right: pxInProc(30, 1146);
  &:last-child {
    margin-right: 0;
  }
}

.price__icon {
  margin: pxInProc(39, 362) auto pxInProc(20, 362) auto;
}
.price__box-title {
  font-size: 18px;
  color: black;
  font-weight: 700;
  margin-bottom: pxInProc(25, 362);
}
.price__line {
  height: 0;
  width: pxInProc(303, 362);
  border-top: 2px solid #e9f3f8;
}
.price__list {
  text-align: center;
  margin-top: pxInProc(23, 362);
  margin-bottom: pxInProc(26, 362);
}
.price__list-item {
  font-weight: 300;
  font-size: 16px;
  line-height: 184%;
  color: black;
}
.price__price {
  font-weight: 500;
  font-size: 18px;
  color: #0f7bff;
  margin-bottom: pxInProc(25, 352);
  span {
    font-size: 32px;
  }
}
