.price {
  display: flex;
  justify-content: center;
}

.price__block {
  display: flex;
  max-width: 1146px;
  width: 100%;
  margin: 130px auto;
  justify-content: center;
}

.price__plan {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: pxInProc(60, 1146);
}
.price__title {
  font-weight: 500;
  font-size: 3.2rem;
  color: black;
  margin: pxInProc(161, 352) auto pxInProc(30, 352) 0;
}
.price__subtitle {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 150%;
  color: black;
  margin-bottom: pxInProc(40, 352);
}
.price__buttons {
  display: flex;
}
.price__button {
  font-size: 1.6rem;
  line-height: 20px;
  font-weight: 700;
  color: white;
  background-color: #0f7bff;
  outline: 0;
  border: 3px solid #0f7bff;
  padding: 0;
  border-radius: 25px;
  width: 166px;
  height: 50px;
  margin-bottom: pxInProc(46, 352);
  font-family: inherit;
  @include transition-prop;
  &:hover {
    color: #0f7bff;
    background-color: white;
  }
  &:focus {
    color: #0f7bff;
    background-color: white;
    opacity: 0.8;
  }
}

.price__button_left {
  border-radius: 25px 0px 0px 25px;
}

.price__button_right {
  border-radius: 0 25px 25px 0;
  border-left: 0;
}

.price__button_active {
  background-color: #ffffff;
  color: #0063dd;
  &:hover {
    color: white;
    background-color: #0f7bff;
  }
  &:focus {
    color: white;
    background-color: #0f7bff;
    opacity: 0.8;
  }
}

.price__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 4px 20px rgba(0, 36, 80, 0.08);
  border-radius: 5px;
  max-width: 362px;
  width: 100%;
  margin-right: pxInProc(30, 1146);
  &:last-child {
    margin-right: 0;
  }
}

.price__icon {
  margin: pxInProc(39, 362) auto pxInProc(20, 362) auto;
}
.price__box-title {
  font-size: 1.8rem;
  color: black;
  font-weight: 700;
  margin-bottom: pxInProc(25, 362);
}
.price__line {
  height: 0;
  width: pxInProc(303, 362);
  border-top: 2px solid #e9f3f8;
}
.price__list {
  text-align: center;
  margin-top: pxInProc(23, 362);
  margin-bottom: pxInProc(26, 362);
}
.price__list-item {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 184%;
  color: black;
}
.price__price {
  font-weight: 500;
  font-size: 1.8rem;
  color: #0f7bff;
  margin-bottom: pxInProc(25, 352);
  span {
    font-size: 3.2rem;
  }
}

@media screen and (max-width: 1268px) {
  .price {
    padding: 0 15px;
  }
}

@media screen and (max-width: 1012px) {
  .price__block {
    flex-wrap: wrap;
    margin-bottom: 50px;
    margin-top: 50px;
  }
  .price__title {
    margin: 0 0 10px 0;
  }
  .price__subtitle {
    margin-bottom: 30px;
  }
  .price__button {
    margin-bottom: 30px;
  }
  .price__plan {
    margin: 0;
    width: 76%;
  }
}

@media screen and (max-width: 790px) {
  .price__box {
    margin: 15px;
    &:last-child {
      margin: 15px;
    }
  }
  .price__plan {
    max-width: 362px;
    width: 100%;
  }

  .price__title {
    text-align: center;
  }
  .price__subtitle {
    text-align: center;
  }
}
