.scroll {
  width: 100%;
  height: 0px;
  background-color: aqua;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.scroll__button {
  position: absolute;
  width: 100px;
  padding: 0;
  background-color: Transparent;
  border: 0;
  height: 100px;
  @include transition-prop;
  &:hover {
    opacity: 0.5;
  }
}
.scroll__img {
  width: 100%;
  z-index: 5;
}

@media screen and (max-width: 372px) {
  .scroll__button {
    width: 50px;
    height: 50px;
  }
}
