.testimonials {
  display: flex;
  width: 100%;
  background-color: #f5fcfd;
  margin-bottom: pxInProc(130, 1920);
}

.testimonials__left-box {
  width: pxInProc(779, 1920);
  height: pxInProc(601, 1920);
  margin-right: 98px;
}
.testimonials__image {
  width: 100%;
}

.testimonials__right-box {
  display: flex;
  flex-direction: column;
  width: pxInProc(1043, 1920);
}
.testimonials__title {
  font-size: 3.2rem;
  font-weight: 700;
  margin-top: pxInProc(113, 1146);
  margin-bottom: pxInProc(40, 1146);
}

.testimonials__container {
  width: 100%;
  display: flex;
}

.owl-item {
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 70, 156, 0.08);
  border-radius: 5px;
  position: relative;
  width: 362px !important;
}

.owl-dots {
  margin-top: pxInProc(37, 1034);
}

.owl-dot {
  width: 12px;
  height: 12px;
  background-color: #f5fcfd !important;
  border: 1.6px solid #0063dd !important;
  border-radius: 32px;
  margin-right: 8px;
  &:focus {
    opacity: 0.7;
  }
  &:hover {
    opacity: 0.7;
  }
}

.owl-dot.active {
  background-color: #0063dd !important;
  width: 38.4px;
}

.testimonials__block-title {
  font-weight: 500;
  font-size: 1.8rem;
  margin-top: pxInProc(40, 362);
  margin-bottom: pxInProc(10, 362);
  margin-left: pxInProc(30, 362);
  color: black;
}
.testimonials__block-subtitle {
  color: #999999;
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: pxInProc(25, 362);
  margin-left: pxInProc(30, 362);
}
.testimonials__block-text {
  color: #999999;
  font-size: 1.6rem;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: pxInProc(34, 362);
  margin-left: pxInProc(30, 362);
}
.testimonials__twit-icon {
  position: absolute;
  top: 50px;
  right: 39.81px;
  color: #0f7bff;
  font-size: 2.2rem;
}

@media screen and (max-width: 1451px) {
  .testimonials__title {
    margin-top: 15px;
  }
  .testimonials__container {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 1180px) {
  .owl-item {
    width: 280px !important;
  }
}
@media screen and (max-width: 1042px) {
  .owl-item {
    width: 260px !important;
  }
}
@media screen and (max-width: 1032px) {
  .testimonials__left-box {
    display: none;
  }
  .testimonials__right-box {
    width: 100%;
  }
  .owl-dots {
    margin-left: 40%;
    display: flex;
  }
  .testimonials__title {
    align-self: center;
  }
}
@media screen and (max-width: 340px) {
  .testimonials__title {
    margin-left: 15px;
  }
}
