.work {
  display: flex;
  flex-direction: column;
  background-color: #f5fcfd;
  align-items: center;
  margin-top: -3%;
  margin-left: auto;
  margin-right: auto;
}
.work__title {
  font-weight: 400;
  font-size: 3.2rem;
  color: black;
  margin-top: pxInProc(119, 1920);
  margin-bottom: pxInProc(25, 1920);
}
.work__subtitele {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 150%;
  text-align: center;
  color: black;
  margin-bottom: pxInProc(45, 1920);
  max-width: 722px;
  width: 100%;
}
.work__boxes {
  display: flex;
  max-width: 1113px;
  width: 100%;
  margin-bottom: pxInProc(137, 1920);
  justify-content: center;
  position: relative;
}
.work__box {
  width: 333px;
  height: 221px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: pxInProc(57, 1113);
  &:last-child {
    margin-right: 0;
  }
}
.work__icon {
  width: 100px;
  height: 100px;
  z-index: 2;
}
.work__box-title {
  font-weight: 500;
  font-size: 1.8rem;
  color: black;
  margin-top: pxInProc(30, 333);
  margin-bottom: pxInProc(20, 333);
}
.work__box-subtitle {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 150%;
  text-align: center;
}

.work__line {
  width: 61%;
  height: 0px;
  border-top: 2px dashed #0f7bff;
  position: absolute;
  top: 50px;
  z-index: 0;
}

@media screen and (max-width: 1129px) {
  .work {
    padding: 0 15px;
  }
}

@media screen and (max-width: 893px) {
  .work__boxes {
    flex-wrap: wrap;
  }
  .work__line {
    display: none;
  }
  .work__box {
    margin: 30px 15px 30px 15px;
    &:nth-child(3) {
      margin: 30px 15px 30px 15px;
    }
    &:last-child {
      margin: 40px 15px 0 15px;
    }
  }
}

@media screen and (max-width: 635px) {
  .work__box {
    margin: 0 15px 5px 15px;
    height: 200px;
    &:nth-child(3) {
      margin: 10px 15px 10px 15px;
    }
    &:last-child {
      margin: 10px 15px 0 15px;
    }
  }
}
